h2 {
    margin-top: 10%;
    text-align: center;
    color: #333;
    font-size: 1.5em;
  }



.conteneur {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .colonne {
    width: 30%;
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;

  }
  
  .colonne:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }


  /* transition lors du survol de l'image */
  .colonne a:hover img {       
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }

  
.titre h2{
    margin-top: 4%;
    text-align: center;

}
  
