<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeAGO4hAAAAAGsvpU9AKWbwOFW1HGZUdTmyovYE"></script>
    <script>!function (w, d, t) {
            w.TiktokAnalyticsObject = t; var ttq = w[t] = w[t] || []; ttq.methods = ["page", "track", "identify", "instances", "debug", "on", "off", "once", "ready", "alias", "group", "enableCookie", "disableCookie"], ttq.setAndDefer = function (t, e) { t[e] = function () { t.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }; for (var i = 0; i < ttq.methods.length; i++)ttq.setAndDefer(ttq, ttq.methods[i]); ttq.instance = function (t) {
                for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++
                )ttq.setAndDefer(e, ttq.methods[n]); return e
            }, ttq.load = function (e, n) { var i = "https://analytics.tiktok.com/i18n/pixel/events.js"; ttq._i = ttq._i || {}, ttq._i[e] = [], ttq._i[e]._u = i, ttq._t = ttq._t || {}, ttq._t[e] = +new Date, ttq._o = ttq._o || {}, ttq._o[e] = n || {}; n = document.createElement("script"); n.type = "text/javascript", n.async = !0, n.src = i + "?sdkid=" + e + "&lib=" + t; e = document.getElementsByTagName("script")[0]; e.parentNode.insertBefore(n, e) };

            ttq.load('C5NCP7TQ5ECR7VU431B0');
            ttq.page();
        }(window, document, 'ttq');</script>

    <script async type="text/javascript">var restOfUrl = window.location.href.substr(5);
        if (restOfUrl.includes("devoirrendu.com")) {
            window.location = "https://devoirrendu.fr";
        }</script>
    <!-- Google Tag Manager -->
    <script async type="text/javascript">(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TQCGXTB');</script>

    <!-- End Google Tag Manager -->
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Maspaloma Ltd" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Math&#xE9;matiques, Physique, Chimie, Fran&#xE7;ais, Enseignement scientifique, SVT, Sciences, Technologie, R&#xE9;ponses, Solutions, Exercices, Corrig&#xE9;s, Corrections, Devoir Rendu, Devoir, Gratuit" />
    <meta name="description" content="Site gratuit avec les corrig&#xE9;s des exercices des manuels scolaires et cahiers d&#x2019;exercices du coll&#xE8;ge et du lyc&#xE9;e. Plus de 400 000 r&#xE9;ponses et solutions" />
    <!-- title  -->
    <title>Devoir Rendu - R&#xE9;ponses aux exercices - Devoir Rendu</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/devoirrendu/4_32x32.webp">
    <link rel="apple-touch-icon" href="/img/devoirrendu/4_32x32.webp">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/devoirrendu/4_32x32.webp">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/devoirrendu/4_32x32.webp">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css?v=zaSupMUuxmoX9EmvxVfR2eeoDknabbmtxFWc2qcCJBY" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="/css/rev_slider/settings.css">
    <link rel="stylesheet" href="/css/rev_slider/layers.css">
    <link rel="stylesheet" href="/css/rev_slider/navigation.css">


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <!-- custom css -->
    <link href="/css/styles-2.css" rel="stylesheet" id="colors">
    <link href="/css/ekko-lightbox.css" rel="stylesheet" />
    <link href="/css/site.css?v=WFS41m3ljP4oqj4LoTj5nafgqELossLDyyGyDTAm8TA" rel="stylesheet">
    <link href="/css/jquery.pan.css" rel="stylesheet" type="text/css" />
    <!-- cookiealert styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="/js/angularjs/mainApp.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="https://kit.fontawesome.com/2d81ed3ff8.js" crossorigin="anonymous"></script>
</head>
<body ng-app="myApp">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQCGXTB"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--oncontextmenu="return false;"-->
    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon" style="color:#F79A2C; border: 5px solid #F79A2C;"></div>
        </div>
    </div>
    <!-- end page loading -->
    <div class="main-wrapper">
        <!-- start header section -->
        <header class="header-style3 bg-transparent border-none">

            <div class="navbar-default">
                <div class="container" style="max-width:95%!important">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding current center-desktop">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="/" class="navbar-brand logo3"><img id="logo" src="/img/devoirrendu/Logo_wide_1.webp" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <ul class="navbar-nav nav-text" id="nav" style="display: none;">
                                        <li>
                                            <a href="/Books/">Corrigés des exercices</a>
                                        </li>
                                        <li>
                                            <a href="/Fiches/">Fiches</a>
                                        </li>
                                        <li>
                                            <a href="/Fiches?searchClass=6&searchSubject=6">Fiches de lecture</a>
                                        </li>
                                        <li>
                                            <a href="/Forums/">Demandez au professeur</a>
                                        </li>
                                        <li>
                                            <a href="/Subscriptions">Nos offres</a>
                                        </li>
                                        <li>
                                            <a href="/Home/OurTeam">Notre équipe</a>
                                        </li>
                                        <li>
                                            <a href="/Home/FAQ">FAQ</a>
                                        </li>
                                            <li class="dropdown sm-margin-20px-right xs-margin-15px-right" style="margin-right:20px; font-size:18px">
        <a href="/Session/SignIn">
            <i id="btn-register" class="fas fa-sign-in-alt"></i><span> Se connecter</span>
        </a>
    </li>

                                    </ul>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->
        
<script async>ttq.instance('C5NCP7TQ5ECR7VU431B0').track('ViewContent')</script>
<script src="https://cdn.tiny.cloud/1/0bgeh3nw33kksjpt8xntolqwyk3ycpwk7337b732gutf3lpr/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<section class="page-title-section2 bg-img cover-background main-baner-terminale" data-overlay-dark="7" data-background="/img/devoirrendu/backgound.svg" style="background-image: url(&quot;/img/devoirrendu/backgound.svg&quot;);">

    <div class="container">
        <div class="row">
            <div class="col-md-6 banner-text" style="text-align:left">
                <h1>
                    Soyez toujours prêt pour aller en cours. <br /><span class="baner-bold organge">Découvrez la réussite scolaire.</span>
                </h1>
                <p class="margin-30px-top margin-30px-bottom sm-margin-20px-bottom font-size16 sm-font-size15 md-width-90 line-height-30 sm-line-height-28 text-blue" style="text-align:justify">
                    Vérifiez vos réponses grâce à la base de corrigés des exercices de vos manuels, révisez avec les fiches et demandez de l’aide aux devoirs à nos professeurs. <b>Gagnez du temps et soyez efficace.</b>
                </p>
                <div style="margin-top:50px">
                        <a href="/Session/SignIn" class="butn btn-cus btn-orange" style="width:250px;margin-bottom:20px"><span>S'inscrire gratuitement</span></a>
                    <a href="#below" class="butn btn-cus btn-white-light-blue" style="width:250px"><span>En savoir plus</span></a>
                </div>
            </div>
            <div class="col-md-6 banner-image"><img alt="fox_owl" style="width:100%; border-radius:20px" src="/img/devoirrendu/main.jpg" /></div>
        </div>

    </div>
</section>
<section style="padding: 0px" id="below">
    <div class="row">
        <div class="col-md-4" style="justify-content:unset">
            <img alt="fox_owl" style="width:auto; max-height:200px; margin-right:10px" src="/img/devoirrendu/Grafika_Flaga_Fr_rewolucja_2.webp" />
        </div>
        <div class="col-md-8 programme" style="padding-left:50px;padding-right:50px; max-width:800px;">
            <h5>Corrigés d’exercices des manuels et fiches de révision de la <span style="color: #CF2C2A">la 6e à la Tle.</span> Créés par des enseignants en conformité avec le programme.</h5>
        </div>
    </div>
</section>

<section class="lg" style="padding-top: 50px; padding-bottom: unset; background-color: rgba(35, 126, 192, 0.05) ">

    <div class="container" id="homePricing">
        <div class="section-heading">
            <h3>Ils parlent de nous</h3>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-6 col-md-6 col-12 sm-margin-40px-bottom xs-margin-30px-bottom order-md-2 order-lg-2">
                    <div style="text-align:center">
                        <a href="https://etudiant.lefigaro.fr/article/rentree-2023-comment-demarrer-l-annee-avec-succes_6768c51c-47e4-11ee-829e-fa1a5c1997f6/" style="display:block"><img src="/img/devoirrendu/Le Figaro Etudiant-2.jpg" style="height: 75px; margin-top: -10px; max-width: 100%" /></a>
                    </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 sm-margin-40px-bottom xs-margin-30px-bottom order-md-2 order-lg-2">
                    <div style="text-align:center">
                        <a href="https://www.lemonde.fr/le-soutien-scolaire/article/2023/09/04/devoir-rendu-service-recu_6187774_381.html" style="display:block"><img src="/img/devoirrendu/Le Monde Logo-2.png" style="height: 75px; margin-top: -10px; max-width: 100%" /></a>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="lg" style="padding-top: 50px; padding-bottom: 50px; background-color: rgba(35, 126, 192, 0.05) ">
    <div class="container">
        <div class="items">
            <div class="card card-border">
                <div class="card-body">
                    <span class="margin-30px-bottom d-block"><img style="max-height:150px" src="/img/devoirrendu/box_1.jpg" /></span>
                    <h4 style="font-weight: 800; text-align:left; font-size:16px;" class="text-blue">100%<br /> de certitude</h4>
                    <p class="no-margin-bottom" style="text-align: left; font-size:14px">Toutes les ressources disponibles ont été préparées par notre équipe d’enseignants et de professeurs de tous les niveaux.</p>
                </div>
            </div>
            <div class="card card-border">
                <div class="card-body">
                    <span class="margin-30px-bottom d-block"><img style="max-height:150px" src="/img/devoirrendu/Grafika_1_fox_books_small_res.webp" /></span>
                    <h4 style="font-weight: 800; text-align:left; font-size:16px;" class="text-blue">Matières<br /> principales</h4>
                    <p class="no-margin-bottom" style="text-align: left; font-size:14px">
                        Mathématiques, Anglais, Français, Physique-Chimie, SVT, Espagnol, Enseignement scientifique, Sciences et technologies
                    </p>
                </div>
            </div>
            <div class="card card-border">
                <div class="card-body">
                    <span class="margin-30px-bottom d-block"><img style="max-height:150px" src="/img/devoirrendu/Grafika_1_fox_family_small_res.webp" /></span>
                    <h4 style="font-weight: 800; text-align:left; font-size:16px;" class="text-blue">Recommandé par les parents</h4>
                    <p class="no-margin-bottom" style="text-align: left; font-size:14px">Les parents nous font confiance. Notre service accompagne les élèves dans leur éducation au quotidien.</p>
                </div>
            </div>
            <div class="card card-border">
                <div class="card-body">
                    <span class="margin-30px-bottom d-block"><img style="max-height:150px" src="/img/devoirrendu/box_4.jpg" /></span>
                    <h4 style="font-weight: 800; text-align:left; font-size:16px;" class="text-blue">Apprentissage efficace</h4>
                    <p class="no-margin-bottom" style="text-align: left; font-size:14px">Avec Devoir Rendu, vous gagnez en efficacité. Nos ressources vous permettent d’apprendre et de réviser, tout en réduisant votre temps de travail.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lg" style="padding-top: 20px; padding-bottom: 0px; background-image: url(&quot;/img/devoirrendu/backgound.svg&quot;);" data-background="/img/devoirrendu/backgound.svg">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align:left">

                <h1 style="font-weight:700">Corrigés des exercices</h1>
                <p class="margin-60px-bottom sm-margin-20px-bottom font-size16 sm-font-size15 md-width-90 line-height-30 sm-line-height-28" style="text-align:justify">
                    Réalisez vos devoirs en utilisant nos corrigés des exercices de vos manuels afin d’être toujours prêt pour aller en cours. Nos ressources vous permettront de vous entraîner, de mieux comprendre les démarches et de vérifier vos réponses.
                </p>
                <p> <span class="baner-bold text-blue">750 000</span><span class="baner-bold organge">+</span><br /> <span class="baner-semi-bold text-blue">Exercices résolus </span></p>
                <p style="margin-bottom:50px; line-height:1"><span class="baner-bold text-blue">850</span><span class="baner-bold organge">+</span> <br /><span class="baner-semi-bold text-blue">Manuels résolus</span></p>


            </div>
            <div class="col-md-6" style="background-color:#fff; padding:50px">
                <div class="row">

                    <img style="height:50px" src="/img/devoirrendu/icon_240x240.webp" />
                    <h4 class="text-blue" style="margin:0 auto; padding-top:5px">Trouvez votre réponse </h4>
                </div>
                <div class="row" ng-controller="homePageController" ng-init="init()">
                    <div class="col-md-12">
                        <h5 class="text-blue" style="margin: 10px; font-size: 20px;">1. Choisissez votre classe</h5>
                            <select ng-model="selectedClass" ng-options="class.name for class in classes" ng-change="getSubjects()" class="main-select" ng-class="(classId !== null && classId > 0) && 'main-select-selected'">
                            </select>
                    </div>
                    <div class="col-md-12">
                        <h5 class="text-blue" style="margin:10px; font-size:20px;">2. Choisissez la matière</h5>
                        <h5 class="select-text choose-class-title"></h5>
                        <select ng-model="selectSubject" ng-options="subject.subject.name for subject in subjects" ng-change="getPublishers()" ng-class="{'main-select-selected' : (subjectId !== null && subjectId > 0), 'main-select-disabled' : (selectedClass.uniqueID !== null && selectedClass.uniqueID === 0)}" ng-disabled="selectedClass.uniqueID !== null && selectedClass.uniqueID === 0" class="main-select">
                        </select>
                    </div>
                    <div class="col-md-12">
                        <h5 class="text-blue" style="margin: 10px; font-size: 20px;">3. Sélectionnez l'éditeur</h5>
                        <select ng-model="selectedPublisher" ng-options="publisher.name for publisher in publishers" ng-class="{'main-select-selected' : (publisherId !== null && publisherId > 0), 'main-select-disabled' : !(selectSubject.subject !== null && selectSubject.subject.uniqueID > 0)}" ng-disabled="!(selectSubject.subject !== null && selectSubject.subject.uniqueID > 0)" ng-change="getBooks()" disabled class="main-select">
                        </select>
                    </div>
                    <div style="margin:20px; text-align:center; width:100%" ng-if="(publisherId !== null && publisherId > 0)">
                        <a href="/Books?searchClass={{selectedClass.uniqueID}}&searchSubject={{selectSubject.subject.uniqueID}}&publisher={{selectedPublisher.uniqueID}}" class="butn btn-cus btn-orange" style="width:100%"><span>Trouvez votre exercice</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team" style="padding-bottom:30px; padding-top:30px">
    <div class="container">
        <div>
            <h2 class="text-blue">Exemples de corrigés</h2>
        </div>
        <div class="items2">
            <div class="card">
                <div class="team-style6">
                    <div class="team-img"><img alt="img" src="/img/devoirrendu/BSPC2_58_9.webp"></div>
                    <div class="team-details">
                        <div class="row">
                            <div class="col-4 col-md-4"><img style="height:100%; max-height:100px" src="/img/thumbs/BSPC2.webp" alt=""></div>
                            <div class="col-8 col-md-8" style="text-align:left; margin:auto">
                                <p style="margin: 0 0 10px; color: #EE7634; font-size: 14px">Physique-Chimie, 5ème</p>
                                <p style="margin: 0 0 10px; color: #000; font-size: 18px; font-weight: 600">Regaud-Vento</p>
                                <p style="margin: 0 0 10px; font-size: 14px">Exercice 9, page 58</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="team-style6">
                    <div class="team-img">
                        <img alt="img" src="/img/devoirrendu/BNMC1_256_3.webp">
                    </div>
                    <div class="team-details">
                        <div class="row">
                            <div class="col-4 col-md-4"><img style="height:100%; max-height:100px" src="/img/thumbs/BNMC1.webp" alt=""></div>
                            <div class="col-8 col-md-8" style="text-align:left; margin:auto">
                                <p style="margin: 0 0 10px; color: #EE7634; font-size:14px">Mathématiques, 6ème</p>
                                <p style="margin:0 0 10px; color:#000; font-size:18px; font-weight:600">Delta Mathématiques</p>
                                <p style="margin: 0 0 10px; font-size: 14px">Exercice 3, page 256</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="team-style6">
                    <div class="team-img"><img alt="img" src="/img/devoirrendu/HEAC6_64_1.webp"></div>
                    <div class="team-details">
                        <div class="row">
                            <div class="col-4 col-md-4"><img style="height:100%; max-height:100px" src="/img/thumbs/HEAC6.webp" alt=""></div>
                            <div class="col-8 col-md-8" style="text-align:left; margin:auto">
                                <p style="margin: 0 0 10px; color: #EE7634; font-size: 14px">Anglais, 4ème</p>
                                <p style="margin: 0 0 10px; color: #000; font-size: 18px; font-weight: 600">Teen Time</p>
                                <p style="margin: 0 0 10px; font-size: 14px">Exercice 1, page 64</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start project section -->
<!-- end project section -->
<section class="lg" style="padding-top: 20px; padding-bottom: 0px; background-image: url(&quot;/img/devoirrendu/backgound.svg&quot;);" data-background="/img/devoirrendu/backgound.svg">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align:left">

                <h1 style="font-weight:700">Fiches</h1>
                <p class="margin-60px-bottom sm-margin-20px-bottom font-size16 sm-font-size15 md-width-90 line-height-30 sm-line-height-28" style="text-align:justify">
                    Consultez plus de 900 fiches de révision et de lecture préparées par nos enseignants. Vous trouverez dans notre base des fiches de toutes les matières principales. Les fiches sont détaillées, parfaites pour réviser, compléter les notes et rattraper les cours.
                </p>
                <p> <span class="baner-bold text-blue">700</span><span class="baner-bold organge">+</span><br /> <span class="baner-semi-bold text-blue">Fiches de révision </span></p>
                <p style="margin-bottom:50px; line-height:1"><span class="baner-bold text-blue">200</span><span class="baner-bold organge">+</span> <br /><span class="baner-semi-bold text-blue">Fiches de lecture</span></p>


            </div>
            <div class="col-md-6" style="background-color:#fff; padding:50px">
                <div class="row">

                    <img style="height:50px" src="/img/devoirrendu/icon_240x240.webp" />
                    <h4 class="text-blue" style="margin:0 auto; padding-top:5px">Trouvez votre fiche </h4>
                </div>
                <div class="row" ng-controller="fichesController" ng-init="init()">
                    <div class="col-md-12">
                        <h5 class="text-blue" style="margin: 10px; font-size: 20px;">1. Choisissez votre classe</h5>
                            <select ng-model="selectedClass" ng-options="class.name for class in classes" ng-change="getSubjects()" class="main-select">
                            </select>
                    </div>
                    <div class="col-md-12">
                        <h5 class="text-blue" style="margin:10px; font-size:20px;">2. Choisissez la matière</h5>
                        <h5 class="select-text choose-class-title"></h5>
                        <select ng-model="selectSubject" ng-options="subject.subject.name for subject in subjects" class="main-select">
                        </select>
                    </div>
                    <div style="margin:20px; text-align:center; width:100%">
                        <a id="btn-find" href="/Fiches?searchClass={{selectedClass.uniqueID}}&searchSubject={{selectSubject.subject.uniqueID}}" class="butn btn-cus btn-orange" style="width:100%"><span>Rechercher</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lg" style="padding-top:10px; padding-bottom:20px">

    <div class="container">
        <div>
            <h2 class="text-blue">Exemples</h2>
        </div>
        <div class="items2">
            <div class="card">
                <div class="team-style6">
                    <div class="team-details" style="margin:0px auto -30px auto">
                        <div class="row">
                            <div class="col-12 col-md-12" style="text-align:left; margin:auto">
                                <p style="margin: 0 0 10px; color: #EE7634; font-size: 14px">Physique, 1re </p>
                                <p style="margin: 0 0 10px; color: #000; font-size: 18px; font-weight: 600">Images et couleurs</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-img"><img alt="img" src="/img/devoirrendu/fiche_index_1.webp"></div>

                </div>
            </div>
            <div class="card">
                <div class="team-style6">
                    <div class="team-details" style="margin:0px auto -30px auto">
                        <div class="row">
                            <div class="col-12 col-md-12" style="text-align:left; margin:auto">
                                <p style="margin: 0 0 10px; color: #EE7634; font-size:14px">Mathématiques, 3e</p>
                                <p style="margin: 0 0 10px; color: #000; font-size: 18px; font-weight: 600">Nombres premiers</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-img">
                        <img alt="img" src="/img/devoirrendu/fiche-index-2.webp">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="team-style6">
                    <div class="team-details" style="margin:0px auto -30px auto">
                        <div class="row">
                            <div class="col-12 col-md-12" style="text-align:left; margin:auto">
                                <p style="margin: 0 0 10px; color: #EE7634; font-size:14px">Fiche de lecture, 1ère</p>
                                <p style="margin: 0 0 10px; color: #000; font-size: 18px; font-weight: 600">Poèmes saturniens</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-img">
                        <img alt="img" src="/img/devoirrendu/Rectangle 46.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lg" style="padding-top: 20px; padding-bottom: 0px; background-image: url(&quot;/img/devoirrendu/backgound.svg&quot;);" data-background="/img/devoirrendu/backgound.svg">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align:left">

                <h1 style="font-weight:700">Demandez <br /><span class="organge">au professeur</span></h1>
                <p class="margin-20px-bottom sm-margin-20px-bottom font-size16 sm-font-size15 md-width-90 line-height-30 sm-line-height-28" style="text-align:justify">
                    Profitez du savoir de nos professeurs. Recherchez un sujet qui vous intéresse et posez votre question. Un enseignant vous enverra son offre, puis sa réponse détaillée.
                </p>
                <p> <span class="baner-bold text-blue">3</span><span class="baner-bold organge">x</span><br /> <span class="baner-semi-bold text-blue">moins cher qu'un cours particulier </span></p>
                <a id="btn-find" href="/Forums" class="butn btn-cus btn-orange" style="width:90%; margin-bottom:20px"><span>Demandez au professeur</span></a>


            </div>
            <div class="col-md-6" style="min-height:400px;background-color: #fff; padding: 50px; background-image: url(&quot;/img/devoirrendu/DR_Sekcja_2_small.jpg&quot;);  background-repeat:no-repeat " data-background="/img/devoirrendu/DR_Sekcja_2_small.jpg">
            </div>
        </div>
    </div>
</section>
<section class="lg" style="padding-top: 50px; padding-bottom: unset; background-color: rgb(247, 153, 45, 0.05);  ">

    <div class="container" id="homePricing">
        <div class="section-heading">
            <h3>Nos offres</h3>
            <p>Choisissez l'option qui vous convient le mieux.<br /> Vous pourrez la modifier ultérieurement dans l’espace de votre profil.</p>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-6 col-md-6 col-12 sm-margin-40px-bottom xs-margin-30px-bottom order-md-2 order-lg-2">
                <div class="service-block10 home-prcing" style="text-align: left;border-radius:20px; width:80%; margin:auto">
                    <div class="position-relative z-index-1" style="text-align:center">
                        <img src="/img/devoirrendu/icon_240x240.webp" style="height:50px; margin-top:-10px" />
                        <div><p style="background-color: rgba(247, 153, 45, 0.3); color: #F37431; font-weight:700; border-radius:20px">REJOIGNEZ DEVOIR RENDU</p></div>
                        <h4 style="font-weight: 800; text-align:center">Corrigés des exercices</h4>
                        <p class="no-margin-bottom" style="text-align: center; color:#000">à partir <span style="font-size:36px;font-weight:600">€7.99</span> / mois</p>

                        <div style="margin-top:20px">
                            <p style="font-weight:600; color:#000; margin-bottom:5px; text-align:center">
                                Accès à plus de
                                <span style="color:#F7992D; font-weight:600">500 000 exercices corrigés.</span>
                            </p>
                            <p style="font-weight:600; color:#000; margin-bottom:5px; text-align:center">
                                Personnalisez votre plan d'apprentissage avec les options complémentaires
                                <span style="color:#F7992D; font-weight:600">Fiches</span>
                                et
                                <span style="color:#F7992D; font-weight:600">Demandez au professeur.r</span>
                            </p>
                        </div>
                        <a class="butn btn-cus btn-orange" style="width: 80%; margin-top: 40px; padding:0.2rem 0.5rem; color:#fff" href="/Subscriptions">Choisir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-lg-1" style="min-height: 400px; background-color: #fff; padding: 50px; background-image: url(&quot;/img/devoirrendu/home_pricing.jpeg&quot;); background-repeat: no-repeat " data-background="/img/devoirrendu/home_pricing.jpeg">
            </div>

        </div>
    </div>
</section>
<section class="lg" style="padding-top: 50px; padding-bottom: unset; background-image: url(&quot;/img/devoirrendu/backgound.svg&quot;)" data-background="/img/devoirrendu/backgound.svg">

    <div class="container">
        <div class="section-heading">
            <h3 class="text-blue">Avis</h3>
            <p>Voici ce que disent de nous quelques - uns de nos plus de 500 milles utilisateurs - élèves et parents. </p>
        </div>
        <div class="items2">
            <div class="card">
                <div class="service-block10" style="text-align: left;border-radius:20px">
                    <div class="position-relative z-index-1">
                        <div class="row">
                            <div>
                                <blockquote><h3></h3></blockquote>
                            </div>
                            <div class="col-md-12" style="margin-top:-60px; margin-bottom:20px">
                                <p style="color:#000; margin-bottom:5px; font-size:12px">Ce site me permet d'économiser plein de temps et d'énergie. Je stresse beaucoup moins pour mes devoirs depuis que j’ai la possibilité de consulter les réponses aux exos sur Devoir Rendu.</p>
                            </div>
                            <div class="col-md-4"><img src="/img/students/1.jpg" style="height:90px; border-radius:90px" /></div>
                            <div class="col-md-6">
                                <p style="margin: 0 0 10px; color: #144278; font-weight:600">Thomas</p>
                                <p style="margin: 0 0 10px; color: #237EC0">5ème</p>
                            </div>
                        </div>
                        <siv>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="service-block10" style="text-align: left;border-radius:20px">
                    <div class="position-relative z-index-1">
                        <div class="row">
                            <div>
                                <blockquote><h3></h3></blockquote>
                            </div>
                            <div class="col-md-12" style="margin-top:-60px; margin-bottom:20px">
                                <p style="color:#000; margin-bottom:5px; font-size:12px">Devoir Rendu me permet de vérifier les devoirs de mes enfants. Grâce à ce site, je suis sûre qu’ils comprennent les cours et arrivent à faire leurs exercices! En plus de ça, je suis sûre que les fiches leurs permettent d'acquérir les connaissances requises. </p>
                            </div>
                            <div class="col-md-4"><img src="/img/students/2.jpg" style="height:90px; border-radius:90px" /></div>
                            <div class="col-md-6">
                                <p style="margin: 0 0 10px; color: #144278; font-weight:600">Charlotte</p>
                                <p style="margin: 0 0 10px; color: #237EC0">Parent d'élève</p>
                            </div>
                        </div>
                        <siv>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="service-block10" style="text-align: left;border-radius:20px">
                    <div class="position-relative z-index-1">
                        <div class="row">
                            <div>
                                <blockquote><h3></h3></blockquote>
                            </div>
                            <div class="col-md-12" style="margin-top:-60px; margin-bottom:20px">
                                <p style="color:#000; margin-bottom:5px; font-size:12px">Grâce à ce site, le stress des devoirs est parti. Je consacre beaucoup de temps à mes loisirs. En plus, les fiches de révision me permettent d'être toujours bien préparé!</p>
                            </div>
                            <div class="col-md-4"><img src="/img/students/3.jpg" style="height:90px; border-radius:90px" /></div>
                            <div class="col-md-6">
                                <p style="margin: 0 0 10px; color: #144278; font-weight:600">Martin </p>
                                <p style="margin: 0 0 10px; color: #237EC0">3ème </p>
                            </div>
                        </div>
                        <siv>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="service-block10" style="text-align: left;border-radius:20px">
                    <div class="position-relative z-index-1">
                        <div class="row">
                            <div>
                                <blockquote><h3></h3></blockquote>
                            </div>
                            <div class="col-md-12" style="margin-top:-60px; margin-bottom:20px">
                                <p style="color:#000; margin-bottom:5px; font-size:12px">Grâce à Devoir Rendu, je ne suis plus stressé par les devoirs à faire à la maison. Je vérifie les solutions avant de rendre les devoirs et j'obtiens toujours de bonnes notes et j'ai beaucoup de temps supplémentaire pour mes hobbies!</p>
                            </div>
                            <div class="col-md-4"><img src="/img/students/4.jpg" style="height:90px; border-radius:90px" /></div>
                            <div class="col-md-6">
                                <p style="margin: 0 0 10px; color: #144278; font-weight:600">Robert</p>
                                <p style="margin: 0 0 10px; color: #237EC0">1ère</p>
                            </div>
                        </div>
                        <siv>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="service-block10" style="text-align: left;border-radius:20px">
                    <div class="position-relative z-index-1">
                        <div class="row">
                            <div>
                                <blockquote><h3></h3></blockquote>
                            </div>
                            <div class="col-md-12" style="margin-top:-60px; margin-bottom:20px">
                                <p style="color:#000; margin-bottom:5px; font-size:12px">Je me prépare au bac de français avec les fiches de lecture. J’ai beaucoup de temps pour la lecture, car ce site me permet de faire mes exos dans les autres matières de manière efficace. 10/10!</p>
                            </div>
                            <div class="col-md-4"><img src="/img/students/5.jpg" style="height:90px; border-radius:90px" /></div>
                            <div class="col-md-6">
                                <p style="margin: 0 0 10px; color: #144278; font-weight:600">Victorine</p>
                                <p style="margin: 0 0 10px; color: #237EC0">1ère</p>
                            </div>
                        </div>
                        <siv>
                    </div>
                </div>
            </div>
            <div class="card" style="min-he">
                <div class="service-block10" style="text-align: left;border-radius:20px">
                    <div class="position-relative z-index-1">
                        <div class="row">
                            <div class="col-md-12">
                                <blockquote><h3></h3></blockquote>
                            </div>
                            <div class="col-md-12" style="margin-top:-60px; margin-bottom:20px">
                                <p style="color:#000; margin-bottom:5px; font-size:12px">Je gagne en efficacité, ma moyenne augmente. Je suis ravie de l'existence de ce site!</p>
                            </div>
                            <div class="col-md-4"><img src="/img/students/6.jpg" style="height:90px; border-radius:90px" /></div>
                            <div class="col-md-6">
                                <p style="margin: 0 0 10px; color: #144278; font-weight:600">Lena </p>
                                <p style="margin: 0 0 10px; color: #237EC0">2nde</p>
                            </div>
                        </div>
                        <siv>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight:700">Qui <span style="color: #237EC0">sommes-nous?</span></h1>
            </div>
            <div class="col-md-6">
                <img alt="fox_owl" style="width:100%; border-radius:20px" src="/img/devoirrendu/DR_Sekcja_1_small.jpg" />
            </div>
            <div class="col-md-6">
                <p>
                    Devoir Rendu est une plateforme éducative dédiée aux élèves des classes du <b>collège</b> et du <b>lycée.</b> Le service sert à faciliter la vie des élèves à partir de 4 outils disponibles.
                </p>
                <p>Devoir Rendu est un site développé par une équipe dynamique en évolution qui travaille depuis des années dans le domaine de l'éducation. Notre mission est de combiner les méthodes d'enseignement traditionnelles avec les nouvelles qualités technologiques. C’est pour cela qu’on partage avec les élèves un contenu sérieux et de qualité sous forme numérique afin de garantir un accès rapide.</p>
                <p>
                    Il s’agit tout d’abord d’une base <b>d’exercices entièrement résolus.</b> Les exercices proviennent des <b>manuels scolaires</b> les plus utilisés en France. Les <b>exercices</b> ont été résolus et vérifiés à plusieurs reprises par des <b>enseignants</b> et sont présentés sous forme de <b>corrigés</b> contenant la <b>démarche</b> étape par étape de chaque exercice. La base entière contient plus de 750 000 corrigés provenant de plus de 850 manuels scolaires.
                </p>
                <p>
                    En cas d'absence d’un exercice ou d’un manuel, l'élève peut <b>demander au professeur.</b> En utilisant cette fonctionnalité, l'élève peut poser n’importe quelle question issue d’un devoir maison ou autre, et attendre la réponse de la part d’un de nos professeurs.
                </p>
                <p>
                    Sur le site, l'élève trouvera notamment des fiches et des résumés détaillés de cours préparés par nos enseignants. Cela peut servir aux élèves à apprendre, réviser, ou même rattraper un cours.
                </p>
                <p style="font-weight:600">
                    Follow nous
                </p>
                <p>
                    <a href="https://www.instagram.com/devoirrendu.fr/" target="_blank" class="butn btn-cus btn-orange" style="width: 150px; margin-right: 10px; margin-left: 10px;"><img style="height: 20px; margin-right: 5px" src="/img/devoirrendu/Instagram.png" alt="" /><span>Instagram</span></a>
                    <a href="https://www.tiktok.com/@devoirrendu" target="_blank" class="butn btn-cus btn-orange" style="width: 150px;"><img style="height: 20px; margin-right: 5px" src="/img/devoirrendu/Tiktok.png" alt="" /><span>Tiktok</span></a>
                </p>
            </div>

        </div>
    </div>
</section>
<!-- end clients section -->
<!-- start service section -->
<!-- end service section -->
<!-- end about us section -->

<script>tinymce.init({
        selector: "#createQuestionIndex",
        paste_as_text: true,
        plugins: 'charmap',
        toolbar: 'charmap',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        init_instance_callback: function (editor) {
            editor.on('click', function (e) {
                window.location.href = "/Forums";
            });
        }
    });</script>

        <!-- start footer section -->
        <footer class="footer-style10 footer-custom">
            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="/"><img src="/img/devoirrendu/Logo_wide_3.webp" alt="logo"></a>

                        </div>
                        <div class="col-md-9 text-left">
                            <div class="row" style="padding-top:10px">
                                <div class="col-md-4 footer-links" style="text-align:center"><a href="/Home/Concours">Concours 2023</a></div>
                                <div class="col-md-4 footer-links" style="text-align:center"><a href="/pdf/Concours_Rentree_2023.pdf">Concours Rentrée 2023</a></div>
                                <div class="col-md-1 footer-links" style="text-align:center"><a href="/Home/FAQ">FAQ</a></div>
                                <div class="col-md-2 footer-links" style="text-align:center"><a href="/Home/Contact">Contact</a></div>
                                <div class="col-md-4 footer-links" style="text-align:center"><a href="/Home/Privacy">Politique de confidentialité</a></div>
                                <div class="col-md-1 footer-links" style="text-align:center"><a href="/Home/TermsOfUse">C.G.U.</a></div>
                                <div class="col-md-3 footer-links" style="text-align:center"><a href="/Books/BookList">Nos manuels</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 text-left xs-text-center">
                                <p class="xs-margin-5px-top xs-font-size13">
                                    2023 - DevoirRendu &reg;
                                </p>
                            </div>
                            <div class="col-md-8 text-right">
                                <p class="xs-margin-5px-top xs-font-size13">
                                    Retrouvez-nous sur les réseaux sociaux!
                                    <a href="https://www.tiktok.com/@devoirrendu" style="margin:5px; color:#fff!important"><i class="fab fa-tiktok" style="font-size:18px"></i></a>
                                    <a href="https://www.instagram.com/devoirrendu.fr/" style="margin:5px; color:#fff!important"><i class="fab fa-instagram" style="font-size:18px"></i></a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->
    </div>

    <div id="myModalConcours2" class=" bg-blur">
        <div id="myModalConcours" class="modal-donations">
            <!-- Modal content -->
            <div class="modal-donations-content modal-donations-content2" style="border:none">
                <div class="modal-donations-body">
                    <div class="row">
                        <div class="col-md-12 col-12" style="text-align:right">
                           <a onclick="closeMyModalConcours()"><i class="fas fa-x" style="font-size:20px"></i></a> 
                        </div>
                        <div class="col-md-12 col-12">
                            <img src="/img/devoirrendu/concours.png" />
                        </div>
                        <div class="col-12 col-md-12" style="text-align:center">

                            <a onclick="redirectMyModalConcours()" class="butn btn-cus btn-orange" style="width:250px;margin-bottom:20px; color:#fff"><span><b>Participez et gangez</b></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>$(document).ready(function () {

            setTimeout(function () {
                // Get the modal
                var modal = document.getElementById("myModalConcours");
                var modal2 = document.getElementById("myModalConcours2");
                let done_questionare = getCookie("concours");
                if (done_questionare === "true") {
                    console.log('cookie is here')
                } else {
                        modal.style.display = "block";
                        modal2.style.display = "block";
                }

            }, 10000);

        });</script>
    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" style="z-index:9999" role="alert">
        Ce site utilise des cookies pour vous garantir la meilleure qualité possible. Savoir plus. <a href="/Home/Privacy" target="_blank">En savoir plus</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            J'accepte
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    <!-- The Modal -->
    <!-- custom css -->
    <!-- all js include start -->
    <script src="/js/angularjs/angular.min.js?v=ofdjqyk6lxsOpy2OPJzvXU-U71HlZAfh4PYb3pDfJpI"></script>
    <script src="/js/angularjs/mainApp.js?v=kok2_S5xzaGt4Uqht-P5mgPlp4rSMRkHiR2bj15phyc"></script>
    <script src="/js/angularjs/bookDetailsController.js?v=XL3NZGI9q_7C_6WBOXXvjoM6QAIdGD96Zz-G7KPEBb4"></script>
    <script src="/js/angularjs/bookSubscriptionsController.js?v=qYWm5AZSgi3oIL1c4okFO41OS3srX6DE5LCOru_sWKQ"></script>
    <script src="/js/angularjs/forumSubscriptionsController.js?v=YoZ4iYLGvhYXiTpHDh6YjqKENlzF-UZ-uoklCpg2W14"></script>
    <script src="/js/angularjs/fichesSubscriptionsController.js?v=GW34Y66mchCE59fHzKFiHGQuaY1VqaN4gDm__vrOFO8"></script>
    <script src="/js/angularjs/booksController.js?v=C1fgJR5uIotAxx3wuomoL2ZaZRBzVGEA93CHvOe_oeI"></script>
    <script src="/js/angularjs/booksVoteController.js?v=okJ4Bbk5rlOWlCOJgkSEZZDdJxhBGvRq0fLQ6Gc3UDo"></script>
    <script src="/js/angularjs/booksVoteController.js?v=okJ4Bbk5rlOWlCOJgkSEZZDdJxhBGvRq0fLQ6Gc3UDo"></script>
    <script src="/js/angularjs/homePageController.js?v=spvEOMkhfXNJH9cjNmu2fMs22PfjhlI6-fmz0CMYNAw"></script>
    <script src="/js/angularjs/fichesController.js?v=PdaEzw4z5-HhIQawG6hyiSKqR1XleRVzv34qkdAaJ4M"></script>
    <script src="/js/angularjs/forumController.js?v=1hjRNyFNsOWof9akeo3iym1zetpjAOFy6N_-2G0gf58"></script>
    <script src="/js/angularjs/createQuestionController.js?v=KefYUmWcPuCWnkRsL1cc60KadzxfqyaUcMr5Gp-uAKw"></script>
    <script src="/js/angularjs/addPointsController.js?v=WFg3gSFRVxEXKe9KtpubLOzPVIi0Pe2N_1vgW8rKkmQ"></script>
    <script src="/js/angularjs/update365BooksSubscriptionsController.js?v=0dR8UeDV_vV2QIaF7zfDdIMU8Ndwie-ro4bdAg7xfyo"></script>
    <script src="/js/angularjs/buyGiftController.js?v=bM5_F1DuVFuR7efA_o0sUXK0o3PWP42DB-BzjHyYXuQ"></script>
    <script src="/js/angularjs/subscriptionController.js?v=2Y_77bLQ1FDojd9lyJ09OdgrQeqvmlxtUaLh0-NakqY"></script>
    <script src="/js/angularjs/subscriptionUpgradeController.js?v=1jMZzxCld_qkiJzEkS8KBwpzSpVkgdv_L5Z-W-pbj9U"></script>
    <script src="/js/angularjs/abonnamentController.js?v=6FT7hMsmZgRi3mGfl1RwfRPTWEEU4PM-KG1sxD2R-ms"></script>
    <script src="/js/cookie.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="/js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="/js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="/js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="/js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="/js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="/js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="/js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="/js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="/js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="/js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>

    <!-- all js include end -->

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=wVOclFvSd4Ota2p9sCS1KpLXUQMnb8hf_y9IDC-x5dY"></script>
    <script src="/js/ekko-lightbox.js"></script>
    <!-- Include cookiealert script -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>$(document).ready(function () {
            url = new URL(window.location.href);

            if (url.searchParams.get('session_id')) {
                console.log('session_id')
                setCookie("thanks", 30)
            }
            else {
                console.log('no session_id')
            }
        });</script>
    <!-- Include cookiealert script -->
    
    <script>
    $(function(){
       if(""==="Yes")
       {
         // get the contact div's top position and use that as the scrollTop value.
           $(window).scrollTop($("#emailSection").position().top);
       }
    });
    </script>
    <script>$(function () {

            $("#sendEmail").click(function () {
                var emailFirend = $(emailFriend).val();
                dataLayer.push({
                    'emailFriend': emailFirend,
                    'event': 'send_invitation'
                });

                var form = $("form");
                form.submit();
            });

        });</script>


</body>

</html>
